/*通用样式*/
*{margin:0;padding:0;word-wrap:break-word;}
body{font:12px/1.75 "Microsoft yahei","宋体", arial, sans-serif,'DejaVu Sans','Lucida Grande',Tahoma,'Hiragino Sans GB',STHeiti,SimSun,sans-serif;color:#444;}
html, body, h1, h2, h3, h4, ul, li, dl,input{ margin:0px;padding:0px;list-style-type:none; }
a{color:#333;text-decoration:none;}
a:hover{text-decoration:none; border: 0;}
a:active {star:expression_r(this.onFocus=this.blur());} 
:focus { outline:0;}
a img{border:none;} 
div,ul,li,p,form{padding: 0px; margin: 0px;list-style-type: none;}
em{font-style: normal;font-weight: normal;}
table {padding: 0px; margin: 0px;list-style-type: none;}
dt,dl,dd {padding: 0px; margin: 0px;list-style-type: none;}
form{margin:0px;padding:0px;}
tr {padding: 0px; margin: 0px;list-style-type: none;}
h3,h4{padding:0px; font-size:14px; font-weight:bold;}
.clear {clear:both;height:0px; overflow:hidden;}
.blank1{height:1px;overflow:hidden;}
.blank2{height:2px;overflow:hidden;}
.blank10{height:8px;overflow:hidden;}
.blank12{height:10px;overflow:hidden;}
.blank20{height:13px;overflow:hidden;}
.blank25{height:25px;overflow:hidden;}
.dotline{border-bottom:#CCC 1px dashed;margin:8px;}
.m-l{padding:0 0 0 10px !important;}
.m-r{padding:0 10px 0 0 !important;}
.padg{padding:0!important;margin:0!important;}
.pad{padding:0!important;}
.lineht{border:1px #6581a1 solid;width:88%;margin-left:22px;}
.ml-40{margin-left:40px!important;}
.mr-10{margin-right:10px!important;}
.mt-29{margin-top:29px!important;}
.m-93{margin-top:-93px;}
.m-105{margin-top:-105px;}
.bg-white{background:#fff;}

.line{width:100%;background:#66aaff;height:2px;margin:0 auto;}
/*所有页面共享的样式如导航,页脚等 */
/*手机超小屏幕下的单独样式 xs < 768px */
@media (max-width: 767px){
    /*全部-导航*/
    body{
        padding-top: 0;/*移动端若固定顶部导航的话高度为52px*/
    }
	.navbar-brand img{min-width:300px;}
    .header .navbar{/*移动端导航不固定顶部*/
        position: relative !important;
    }
    .header .navbar{
        padding-bottom: 0;
    }
    /*全部-导航*/
    /*全部-页脚*/
    #footer .footer-wechat p{
        text-align: left !important;
    }
    /*全部-页脚*/
    /*全部-返回顶部*/
    #clan-slider{
        bottom:55px !important;
    }
    #clan-slider ul li a{
        background-color: rgba(255,255,255,0.9) !important;
        border-color:  transparent !important;
        border-radius: 50% !important;
    }
    #clan-slider #slider-goTop{
        background-position: -92px 0 !important;
    }
    #clan-slider #slider-goTop:hover{
        background-position: 0 0 !important;
    }
    /*全部-返回顶部*/
}
/*手机超小屏幕下的单独样式 xs < 768px */

/*大于手机屏幕时的样式 sm >= 768px */
@media (min-width: 768px){
	.navbar-brand img{min-width:300px;}
    /*全部-导航*/
    .header .navbar{
        border-radius: 0;
        padding: 15px 0;
    }
    .header .navbar-nav>li>a{
        padding: 15px 0;
    }
    /*全部-导航*/
}
/*大于手机屏幕时的样式 sm >= 768px */

/*平板小屏幕样式 768px <= sm < 992px */
@media (min-width: 768px) and (max-width: 991px){
    /*全部-页脚*/
	.navbar-brand img{width:340px;}
    #footer .footer-contact h2{
        font-size: 26px !important;
    }
    /* Safari 7.1+ (9.0 is the latest version of Safari at this time) */
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        #footer .footer-contact h2{
            padding-left: 0;
            font-size: 22px !important;
        }
    }
    /*全部-页脚*/
}
/*平板小屏幕样式 768px <= sm < 992px */

/*大于992px以上固定宽度为970px md >= 992px */
@media all and (max-width: 992px){
    /*全部-最大宽度*/
	.notice,.manger,.info{background:#fff!important;}
    .container {width: 100%;padding:10px;margin:0;}
	.carousel,.top-news h3{margin:0!important;}
	.col-md-4,.col-xl-4{padding:0!important;margin:0!important;}
	img{height:30%;}
	.carousel-inner .item img{height:10%!important;margin-bottom:0!important;}
	.header .item img{width:340px!important;height:40px!important;margin-left:10px;}
	.news .item{width:100%;height:50%!important;}
	.banner,.fastlink,.search,.testbg{display:none;}
	.zlmainpd .list,.article .page{display:none!important;}
	.navbar-brand img{width:330px;}
	.hotnews{padding-bottom:0!important;}
	.manage,.info{margin:0!important;}
	.manage img,.info img{display:none;}
	.manage a,.info a{width:100%!important;background:#fff!important;height:50x!important;border:1px #2d7bcd solid;text-indent:0!important;text-align:center;font:normal 20px/50px "Microsoft yahei"!important;margin-left:0!important;margin-bottom:10px!important;color:#2d7bcd!important;}
	.notice ul li{margin:5px 0px!important;}
	.notice ul li span{margin-left:25px!important;padding-left:0!important;}
	.notice ul li a{width:100%!important; padding-right:20px!important;display:block;height:30px;}
	.link,.net{background:none!important;}
	.m-93,.m-105{margin-top:0!important;}
	.notice,.net{margin:0!important;}
	.link .logo1,.link .logo2,.link .logo3,.link .logo4,.link .logo5,.link .logo6,.link .logo7,.link .logo8{background:none!important;width:88%!important;height:45px!important;border:1px #2d7bcd solid;text-indent:0!important;text-align:center;font:normal 20px/45px "Microsoft yahei"!important;margin-left:30px!important;}
	.link .logo1 p,.link .logo2 p,.link .logo3 p,.link .logo4 p,.link .logo1 p,.link .logo5 p,.link .logo6 p,.link .logo7 p,.link .logo8 p{color:#2d7bcd;margin-top:0!important;}
	.rmain,.article{margin-left:0!important;}
	.rmain div,.zlmainpd{margin-left:15px;}
	/*流量检测*/
	.net{height:auto!important;}
	.net img{width:95%!important;height:40%!important;margin:0 15px!important;}
	/*app 公众号*/
	.app,.gzh{width:45%!important;}
	/*新闻列表*/
	.notice .tit h3,.manage .tit h3, .info .tit h3,.news .tit h3{margin-left:55px!important;}
	
	/*新闻图标*/
	.titbg1{background:url(icon.png) 15px 5px no-repeat!important;}
	.titbg2{background:url(icon.png) 25px -35px no-repeat!important;}
	.titbg3{background:url(icon.png) 25px -78px no-repeat!important;}
	.titbg4{background:url(icon.png) 25px -120px no-repeat!important;}
	/*内容页面*/
	.article img{width:80%!important;height:30%!important;}
	.article #news{width:95%!important;}
	/*版权信息*/
	.copyright{background-color:#fff;}
	.copyright p{color: #333;}
	.copyright .box{display:none;}
	.hotnews{width:100%!important;float:right;border-bottom:1px solid #d5d5d5;}
	.hotnews .top-news{margin-left:10px;}
	.hotnews ul li{width:100%!important;padding-left:15px!important;}
	.hotnews ul li a{border-left:none!important;height:30px!important;padding-left:0!important;}
    /*全部-最大宽度*/
    
    /* Safari 7.1+ (9.0 is the latest version of Safari at this time) */
    @media screen and (-webkit-min-device-pixel-ratio:0) {
       
    }
    /*全部-页脚*/
}
/*大于992px以上固定宽度为970px md >= 992px */



/*全部-导航条样式复写*/
.header .navbar-default{
    border:0;
    margin-bottom: 0;
    z-index: 1000;
	background:#0068b7;
}
.header .navbar-default .navbar-nav>li>a{
    font-size: 16px;
	text-align:center;
	width:100%;
	font-family:"Microsoft yahei";
	margin: 16px 15px 0px 15px!important;
}
.header .navbar-default .navbar-nav>li>a:hover{
    color: #fff;
	font-size:16px;
	background:#0068b7;
	height:100%;

}
.header .navbar-default .navbar-nav>.active>a, .header .navbar-default .navbar-nav>.active>a:hover, .header .navbar-default .navbar-nav>.active>a:focus{
    color:#2d7bcd;
    background-color: rgba(255,255,255,0);
}
.header .navbar-default .navbar-toggle .icon-bar{
    background-color: none;
}
.header .navbar-default .navbar-nav>li .line-top{
    width: 18px;
    margin: auto;
}
/*全部-导航条样式复写*/

/*搜索*/

.fastlink{padding-top:25px; overflow:hidden;}
.fastlink a{float:right;color:#666666;margin-left:10px;padding-left:30px;}
.linkbg1{background:url(icon.png) 3px -164px no-repeat;}
.linkbg2{background:url(icon.png) 3px -190px no-repeat;}
.fastlink a:hover{color:#666666;text-decoration:none;}

.search .slink{float:right;margin-top:10px;overflow: hidden; height: 30px;}
.search .slink input {background:#e6f1f9;border:none;height:30px; font: 14px/30px Arial, Helvetica, sans-serif;  display: block;padding-top:2px;color:#b9b9b9;}
.search .slink .btnSearch { width:60px; height:30px;  display: block; cursor: pointer; border: none; float: right;background:#0488e3;font:normal 14px/30px "Microsoft yahei";color:#fff;}

/*导航复写*/
.nav > li > a{ display: table;table-layout: fixed; display:table-row;position: relative;display: block;padding: 15px 30px!important;display: flex;flex-wrap: wrap;}


.banner{width:100%;height:426px;margin:0 auto;background:url(banner.png) 0px 0px no-repeat;}


/*首页新闻标题*/
.notice{background:#fff;}
.news{margin:0 auto;}
.news .tit{display:block;height:42px;}
.news .tit h3{float:left;margin-top:10px;margin-left:40px;color:#333;font:normal 22px/20px "Microsoft yahei";display:block;}
.news .tit a{float: right;width:30px;font:normal 14px/36px "Microsoft yahei";overflow: hidden;padding:0 8px;background:url(more.png) 0px 5px no-repeat;text-indent:-999em;margin-top:10px;}
.news .tit a:hover{text-decoration:none;}
/*新闻动态推荐新闻*/
.hotnews {padding-bottom:120px;margin:30px 0px 10px 30px}
.hotnews img{float:left;width:165px;height:97px;}
.hotnews .top-news{overflow: hidden;border-bottom:1px solid #d5d5d5; }

.hotnews .top-news a{color:#000;font:normal 20px/30px "Microsoft yahei";overflow: hidden;margin-top:0;}
.hotnews .top-news a:hover{text-decoration:none;color:#0068b7;}
.hotnews .top-news p{color: #555555;font:normal 14px/25px "Microsoft yahei";overflow: hidden;margin-top:10px;}
.hotnews .top-news span{display: block;font:normal 12px/18px "Microsoft yahei";height:18px;color: #9D9D9D;margin-top:3px;}
.hotnews ul { width:100%; padding: 0;}
.hotnews ul li{clear: both;height: auto; width:100%;overflow:hidden;}
.hotnews ul li a{border-left:2px #2d7bcd solid;padding-left:10px;font:normal 16px/34px 'Microsoft yahei'; color: #333; }
.hotnews ul li span{ clear:none; font:normal 16px/32px "Microsoft yahei"; color: #777;float:right;padding-top:4px; margin-right:10px;}
.hotnews ul li a:hover{ font:normal 16px/34px 'Microsoft yahei'; color: #0068b7;text-decoration: none; }
/*学术报告列表*/
.report ul,.news ul { width:100%; padding: 0;}
.report ul li,.news ul li{clear: both;height: auto; width:100%;overflow:hidden;}
.report ul li a,.news ul li a{border-left:2px #2d7bcd solid;padding-left:10px;font:normal 16px/32px 'Microsoft yahei'; color: #333; }
.report ul li span,.news ul li span{ clear:none; font:normal 16px/32px "Microsoft yahei"; color: #777;float:right;padding-top:4px; margin-right:10px;}
.report ul li a:hover,.news ul li a:hover{ font:normal 16px/32px 'Microsoft yahei'; color: #0068b7;text-decoration: none; }
/*通知公告列表*/
.notice{background:#fff;margin-bottom:30px;padding-bottom:3px;}
.notice .tit{display:block;height:42px;margin-top:30px;}
.notice .tit h3{margin-left:50px;float:left;margin-top:15px;padding-right:5px;color:#333;font:normal 18px/20px "Microsoft yahei";display:block;}
.notice .tit a{float: right;width:40px;font:normal 14px/36px "Microsoft yahei";overflow: hidden;padding:0 3px;background:url(more.png) 0px 10px no-repeat;text-indent:-999em;margin-top:10px;}
.notice .tit a:hover{text-decoration:none;}
.notice ul {padding: 0;}
.notice ul li{background:#eef6ff;clear: both;height: auto;overflow:hidden;margin:10px 10px;margin-bottom:10px;}
.notice ul li a{padding-left:10px;font:normal 16px/48px 'Microsoft yahei'; color: #333;}
.notice ul li span{ clear:none; font:normal 22px/43px "Microsoft yahei"; color:#0058c0;float:left;padding-top:4px; margin-left:10px;}
.notice ul li a:hover{ font:normal 16px/48px 'Microsoft yahei'; color: #0068b7;text-decoration: none; }
/*网络管理*/
.manage,.info{margin:30px 0px 10px 30px;background:#fff;}
.info{margin-top:0px;}
.manage .tit,.info .tit{display:block;height:42px;}
.manage .tit h3,.info .tit h3{margin-left:50px;float:left;margin-top:15px;padding-right:5px;color:#333;font:normal 18px/20px "Microsoft yahei";display:block;}
.manage a,.info a{float:left;width:150px;height:64px;display:block;background:url(listbg.png) no-repeat;margin:0px 5px 3px 5px;font:normal 18px/64px "Microsoft yahei";color:#333;text-align:center;}
.manage a:hover,.info a:hover{background:url(listbg_h.png) no-repeat;color:#fff;}
/*首页链接*/
.link{width:100%;background:#fbfbfb;}
.link .links{margin:0 auto;height:170px;}
.link .links a{width:84px;height:90px;text-align:center;float:left;font:normal 16px/30px "Microsoft yahei";display:block;text-decoration:none;color:#333;margin:25px 30px 0px 35px;}
.link .links p{margin-top:95px;}
.logo1{background:url(link_1.png) no-repeat;width:84px;height:86px;}
.logo2{background:url(link_1.png) 0px -110px no-repeat;width:84px;height:86px;}
.logo3{background:url(link_1.png) 0px -230px no-repeat;width:84px;height:86px;}
.logo4{background:url(link_1.png) 0px -355px no-repeat;width:84px;height:86px;}
.logo5{background:url(link_1.png) 0px -472px no-repeat;width:84px;height:86px;}
.logo6{background:url(link_1.png) 0px -592px no-repeat;width:84px;height:86px;}
.logo7{background:url(link_1.png) 0px -702px no-repeat;width:84px;height:86px;}
.logo8{background:url(link_1.png) 0px -812px no-repeat;width:84px;height:86px;}
/*流量检测*/
.net{background:url(netbg.jpg) no-repeat;width:100%;height:200px;}
.net img{margin:70px 0px 0px 100px;width:494px;height:129px;}
/*性能检测*/
.testbg{background:url(test.jpg) 30px  no-repeat;text-indent:-999em;height:100%;width:240px;float:left;height:170px;}
.app{background:url(er.png) no-repeat 25px 20px #0068b7;float:left;width:170px;margin-left:12px;height:170px;}
.gzh{background:url(gzh.png) no-repeat 25px 20px #1180d5;float:left;width:170px;height:170px;}
.gzh p,.app p{text-align:center;color:#fff;display:block;font:normal 14px/30px "Microsoft yahei";margin-top:140px;}
/*新闻图标 */
.titbg1{background:url(icon.png) 0px 5px no-repeat;}
.titbg2{background:url(icon.png) 10px -35px no-repeat;}
.titbg3{background:url(icon.png) 18px -78px no-repeat;}
.titbg4{background:url(icon.png) 18px -120px no-repeat;}






/*频道首页左侧*/ 
.mainpdbox{width:100%;margin: 0 auto; overflow: hidden;padding: 0;background: #ebf2f3;}
.mainpdbox .lmain{float: left;overflow:hidden;margin-right:20px;}
.mainpdbox .lmain .lmainpd{background-color:#0068b7;}
.lmainpd {background: #ebf2f3;}
.lmainpd  h3{ text-align:center;background:#0068b7;width:auto;overflow: hidden; font:normal 26px/80px 'Microsoft yahei';margin:0 auto; color:#fff;}

.lmainpd .list ul{}
.lmainpd .list li{line-height: 2em; height: auto;overflow: hidden;  border-bottom: 1px dashed #CCC; clear: both;background: url(list.png) 8px 14px no-repeat;padding-left:20px;margin-right:20px;}
.lmainpd .list li a{background:#ebf2f3;font-size:12px; font-family: "Microsoft yahei";color: #000;}
.lmainpd .list li a:hover{text-decoration: underline; color: #337ab7;}
.lmainpd .list span{  display: block; float: right; clear: both; overflow: hidden;color:#C91717;}
.lmainpd p{width:90%;font:normal 14px/30px "Microsoft yahei";}


/*频道页左侧子栏目*/
.zlmainpd{ background:url(titbg.png) no-repeat #ebf2f3;height:100%;}
.zlmainpd .title{width: 100%;margin-right:20px;}
.zlmainpd .title h3{text-align:center;width:auto;color:#fff;overflow: hidden;font:normal 30px/90px 'Microsoft yahei';border-bottom:4px #0068b7 solid;margin-top:0;}
.zlmainpd .list{background:#fff;}
.zlmainpd .list li{background:#ebf2f3;float:left;width:100%;height: 50px; line-height:50px;overflow: hidden;border-bottom:#f8f8f8 solid 2px;}
.zlmainpd .list li:hover{overflow: hidden;display: block;}
.zlmainpd .list li a{text-align: left;color:#3284be;display:block;height: 47px; clear: both; font:normal 16px/47px 'Microsoft yahei';padding-left:20px;}
.zlmainpd .list li a:hover{border-left:#0068b7 4px solid;background:#fff;color:#0068b7;text-decoration: none;}




/*频道首页右侧*/
.rmain{height:100%;overflow:hidden;background:#fff;margin-top:3px;margin-left:20px;}
.rmain .title{}
.rmain .title h3{float: left; overflow: hidden; color: #333;margin-top:0px;font:normal 20px/40px "Microsoft yahei";padding-left:15px;}
.rmain .title a{float: right;width:30px;font:normal 14px/36px "Microsoft yahei";overflow: hidden;padding:0 8px;background:url(more.png) 0px 5px no-repeat;text-indent:-999em;margin-top:8px;}
.rmain h3{border-bottom:4px #0068b7 solid;width:98%;float: left;overflow: hidden;color: #333;margin-top:0px;font:normal 20px/45px "Microsoft yahei";padding-left:15px;margin-left: 10px;}
.rmain h3 a{float: right;width:30px;font:normal 14px/36px "Microsoft yahei";overflow: hidden;padding:0 8px;background:url(more.png) 0px 10px no-repeat;text-indent:-999em;margin-top:8px;}
.rmain h3 a:hover{font:normal 14px/36px "Microsoft yahei";overflow: hidden; border: 0px;text-decoration:none;}

.rmain .list ul {}
.rmain .list li{overflow:hidden;line-height: 35px;height: 40px;background: url(list.png) 15px 17px no-repeat;padding-left: 30px;clear:both;color:#333;}
.rmain .list li span{overflow:hidden;float: right;margin-right:18px;}
.rmain .list li a{font: normal 14px/20px 'Microsoft yahei';overflow:hidden;color:#333;}
.rmain .list li a:hover{text-decoration: underline;overflow:hidden;color:#337ab7;}





/*内容页*/ 
    /*当前位置*/
.positions{width:100%;background: #f2f2f2;}
.position {background: url(home.png) 5px 10px no-repeat; color: #999; padding-left: 35px; overflow: hidden;clear: both;margin:0 auto;font: normal 16px/40px 'Microsoft yahei';word-wrap:break-word;}
.position a{color:#999;}
.position a:hover{color: #999;text-decoration: none;}


/*教师页面*/
.teacher { display: inline-block; clear:both;}
.teacher li { background:none; padding:0; display:block; float:left; width:130px; border:none; margin:3px;}
.teacher li img {width:90px;height:120px;padding: 5px;border:1px solid #CCC;margin: 10px 10px 0px 30px;}
.teacher li a {display:block;clear:both;text-align:center;line-height:2em;margin-left:30px;}

/*内容*/
.article{ margin:0 auto; height: 100%;background:#fff;margin-left:20px;}
.article h3{width:90%;text-align: center;line-height: 35px; font-size: 24px;padding: 25px 0px 10px 0px;margin:0 auto;height:auto;border:none;color:#333;background:none;}
.article .infoBox {background: #f9f8f8; width:95%;border-bottom: 4px solid #f7f7f7; padding: 10px; margin: 0 0 15px 0; font: 14px Tahoma; border-left:none;border-right:none;text-align: center; color: #999; cursor:pointer;margin-left:20px; }
.article #news{ margin:0 auto; text-align: left;margin-top:20px;overflow: hidden; padding:10px; font-size:18px;height:100%;}
.article .page img { cursor: pointer; }
.article .page{width:80%;margin: 0 auto; text-align:center;}
.article .page a, .article .page a:visited, .article .page span { padding: 2px 5px; margin: 0 3px 0 0; border: 1px solid #999; }

.article .other{width:100%; border-top:#dcdcdc 1px dashed; padding:20px 0px 20px 20px;}
.article .other a{font-size: 12px;color:#333;}
.article .other a:hover{text-decoration: underline;}
.article .small,.article .big { cursor: pointer; padding: 0 5px; }
.article .big { font: bold 14px "Times New Roman"; }
/*内容页样式*/
.rmain div{font:normal 16px/35px "Microsoft yahei";}

.rmain

/*分页样式*/
#fenye{clear:both;padding-top:15px;}
#fenye a{text-decoration:none; display:inline;}
#fenye .prev,#fenye .next{width:52px; text-align:center;}
#fenye a.curr{width:22px;background:#1f3a87; border:1px solid #dcdddd; color:#fff; font-weight:bold; text-align:center;}
#fenye a.curr:visited {color:#fff;}
#fenye a{color:#1E50A2;background:#fff; margin:0px 5px; border:1px solid #dcdddd; float:left; text-align:center;height:22px;line-height:22px}
#fenye a.num{width:22px;}
#fenye a:visited{color:#1f3a87;} 
#fenye a:hover{color:#fff; background:#1E50A2; border:1px solid #1E50A2;float:left;}
#fenye span{line-height:30px;}


.page { padding: 15px; text-align: center; }
.page img { cursor: pointer; }
.page a, .page a:visited, .page span { padding: 2px 5px; margin: 0 3px 0 0; border: 1px solid #999; }
.page a:hover, .page .current { background: #0479EB; border: 1px solid #002A96; color: #fff; }
.page .current { padding: 2px 5px; }
.page .disabled { border: 1px solid #ccc; color: #ccc; padding: 2px 5px; }


/*底部*/
.copyright{background-color: #0168b7;height:100%;}
.copyright p{text-align: center;margin: 10px 0px;word-spacing:normal;color:#fff;}
.copyright .box{position:absolute;left: 30px;top: 10px;}
.copyright p a{color:#1e6594;}
.copyright p a:hover{text-decoration: none;}
/*滚动图片标题*/
.focus-title {position:absolute;left:-50px;bottom:50px;width:760px;background:url(focus-title.png) repeat-x;background-size:auto 100%;
}
.focus-title:hover {background:url(focus-menu.png);background-repeat:repeat-x repeat-y;
}
.focus-maintitle {font:normal 22px/30px "Microsoft yahei";position:absolute;top:15px;left:15px;color:#fff;text-align:left;
}
.focus-maintitle a {color:#FFF;}
.focus-maintitle a:hover {color:#FFF}
.focus-text {font:normal 16px/22px "Microsoft yahei";left:15px;bottom:10px;text-align:left;color:#fff;height:auto;
}
.focus-title .focus-text {position:relative;display:block;margin-bottom: 10px;margin-top:90px;margin-right:15px;text-align: left;
}
/*logo轮播*/
.imgs{height:auto;margin:10px 0px;}
.carousels {
  position: relative;
  margin-bottom:20px;
}
.carousels-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousels-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousels-inner > .item > img,
.carousels-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousels-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousels-inner > .item.next,
  .carousels-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousels-inner > .item.prev,
  .carousels-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousels-inner > .item.next.left,
  .carousels-inner > .item.prev.right,
  .carousels-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousels-inner > .active,
.carousels-inner > .next,
.carousels-inner > .prev {
  display: block;
}
.carousels-inner > .active {
  left: 0;
}
.carousels-inner > .next,
.carousels-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousels-inner > .next {
  left: 100%;
}
.carousels-inner > .prev {
  left: -100%;
}
.carousels-inner > .next.left,
.carousels-inner > .prev.right {
  left: 0;
}
.carousels-inner > .active.left {
  left: -100%;
}
.carousels-inner > .active.right {
  left: 100%;
}
.carousels-control {
  position: absolute;
  top: 1%;
  bottom: 0;
  left: 0;
  width: 10%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousels-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousels-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousels-control:hover,
.carousels-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousels-control .icon-prev,
.carousels-control .icon-next,
.carousels-control .glyphicon-chevron-left,
.carousels-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousels-control .icon-prev,
.carousels-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousels-control .icon-next,
.carousels-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousels-control .icon-prev,
.carousels-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousels-control .icon-prev:before {
  content: '\2039';
}
.carousels-control .icon-next:before {
  content: '\203a';
}
.carousels-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousels-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousels-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousels-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousels-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousels-control .glyphicon-chevron-left,
  .carousels-control .glyphicon-chevron-right,
  .carousels-control .icon-prev,
  .carousels-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousels-control .glyphicon-chevron-left,
  .carousels-control .icon-prev {
    margin-left: -10px;
  }
  .carousels-control .glyphicon-chevron-right,
  .carousels-control .icon-next {
    margin-right: -10px;
  }
  .carousels-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousels-indicators {
    bottom: 0px;
  }
}.carousels{margin-bottom:0!important;}
.carousels.vertical .carousels-inner {
  height: 100%;
  width: auto;
}
.carousels.vertical .carousels-inner > .item {
  width: auto;
  padding-right: 50px;
  -webkit-transition: 0.1s ease-in-out top;
  transition: 0.1s ease-in-out top;
}

.carousels.vertical .carousels-inner > .active,
.carousels.vertical .carousels-inner > .next,
.carousels.vertical .carousels-inner > .prev {
  display: block;
}
.carousels.vertical .carousels-inner > .active {
  top: 0;
}
.carousels.vertical .carousels-inner > .down,
.carousels.vertical .carousels-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousels.vertical .carousels-inner > .next {
  top: 100%;
}
.carousels.vertical .carousels-inner > .prev {
  top: -100%;
}
.carousels.vertical .carousels-inner > .next.left,
.carousels.vertical .carousels-inner > .prev.right {
  top: 0;
}
.carousels.vertical .carousels-inner > .active.left {
  top: -100%;
}
.carousels.vertical .carousels-inner > .active.right {
  top: 100%;
}

.carousels.vertical .carousels-control {
  left: auto;
  width: 50px;
}
.carousels.vertical .carousels-control.up {
  top: 0;
  right: 0;
  bottom: 50%;
}
.carousels.vertical .carousels-control.down {
  top: 50%;
  right: 0;
  bottom: 0;
}
.carousels.vertical .carousels-control .icon-prev,
.carousels.vertical .carousels-control .icon-next,
.carousels.vertical .carousels-control .glyphicon-chevron-up,
.carousels.vertical .carousels-control .glyphicon-chevron-down {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousels.vertical .carousels-control .icon-prev,
.carousels.vertical .carousels-control .glyphicon-chevron-up {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}
.carousels.vertical .carousels-control .icon-next,
.carousels.vertical .carousels-control .glyphicon-chevron-down {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}
.carousels.vertical .carousels-control .icon-up,
.carousels.vertical .carousels-control .icon-down {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}
.service{width:99%;overflow:hidden;}
.service a{border:1px #eaeaea solid;font:normal 20px/85px 'microsoft yahei';margin:20px 20px;background:#f4f4f4;display:block;text-align:center;color:#333;}
.service a:hover{background:#005596;color:#fff;}
.icon-qiapian,.icon-network,.icon-fuwu,.icon-wentidan,.icon-download{margin:120px 10px;}

